*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(249, 193, 176);
    padding: 30px;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100px;
}